.main__date-and-place {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding-bottom: 100px;
    align-items: center;
}

.main__date-and-place__month {
    font-weight: 600;
    height: 40px;
    margin-bottom: 8px;
    text-align: center;
}

.main__date-and-place__wrap-text-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.main__date-and-place__text-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main__date-and-place__text-info__title {
    font-weight: 600;
}

.main__date-and-place__y-card {
    width: 100%;
    height: 320px;
}

.main__date-and-place__y-card iframe {
    border: none;
    border-radius: 10px;
}

.main__date-and-place__wrap-card {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}

.main__date-and-place__y-card-back {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.main__date-and-place__y-card-back span {
    display: block;
    padding: 8px 16px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(54, 102, 93, 0.8);
    
    color: #FFFBF3;
    pointer-events: none;
}

@media (max-width: 940px) {
    .main__date-and-place__month {
        font-size: 20px;
    }

    .main__date-and-place__wrap-text-info{
        font-size: 20px;
    }
}

@media (max-width: 690px) {
    .main__date-and-place__month {
        font-size: 14px;
        height: 30px;
    }

    .main__date-and-place__wrap-text-info{
        font-size: 14px;
    }
}
