.main__questions{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main__questions__mans {
    display: flex;
    flex-direction: column;
    width: 410px;
    align-self: center;
}

.main__questions__man {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 4px;
    padding: 24px;
}

.main__questions__man-name {
    font-weight: 600;
}

.main__questions__man-data {
    display: flex;
    gap: 24px;
    align-items: center;
}

.main__questions__man:hover {
    outline: solid #3b412e;
}

.main__questions__man:hover .main__questions__man-name{
    color: #3b412e;
}

.link-image:hover svg path {
    fill: #3b412e;
}

.main__questions a:hover{
    color: #3b412e;
    border-radius: 4px;
}

.main__questions__man-data {
    text-decoration: underline;
}

@media (max-width: 940px) {
    .main__questions-show {
        gap: 24px;
    }
    .main__questions__man, .main__questions__man-data {
        gap: 18px;
    }
    .main__questions__mans {
        gap: 24px;
        width: 290px;
    }
    .main__questions__man {
        padding: 0px;
    }
    .main__questions__man:hover {
        outline: none;
    }
}

@media (max-width: 690px) {
    .main__questions-show {
        gap: 20px;
    }
    .main__questions__man, .main__questions__man-data {
        gap: 12px;
    }
    .main__questions__mans {
        gap: 20px;
        width: 210px;
    }
}
