.main__photo-show {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main__photo-show:not(.disable) .main__photo-show__disable-description{
    display: none;
}

.main__photo-show__disable-description {
    align-self: center;
    color: #4D4A45;
}

@media (max-width: 940px) {
    .main__photo-show {
        gap: 24px;
    }
}

@media (max-width: 690px) {
    .main__photo-show {
        gap: 20px;
    }
}
