.main__text-disclaimer {
    display:flex;
    flex-direction: column;
    gap: 32px;
}

.main__text-disclaimer h2 {
    align-self: center;
}

.main__text-disclaimer-wrap {
    display:flex;
    flex-direction: row;
    gap: 32px;
}

.main__text-disclaimer-wrap img {
    width: 84px;
    height: 76px;
}

.main__text-disclaimer-wrap__content {
    display:flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 940px) {
    .main__text-disclaimer{
        gap: 24px;
    }

    .main__text-disclaimer-wrap, .main__text-disclaimer-wrap__content {
        gap: 18px;
    }
}

@media (max-width: 690px) {
    .main__text-disclaimer{
        gap: 20px;
    }

    .main__text-disclaimer-wrap, .main__text-disclaimer-wrap__content {
        gap: 12px;
    }

    .main__text-disclaimer-wrap {
        flex-direction: column;
        align-items: center;
    }

    .main__text-disclaimer-wrap img {
        width: 64px;
        height: 56px;
    }
}

